Options -Indexes
RewriteEngine On

# Mengalihkan permintaan ke direktori tanpa slash di akhir
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^(.*[^/])$ /$1/ [L,R=301]

# Secara internal menulis ulang URL bersih ke file .php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [L]